.login-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .submit-button {
    background-color: #25312d; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 4px; /* Button border radius */
    padding: 14px 0; /* Increased button padding */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Button background color transition */
    margin-top: 20px; /* Added margin */
    font-weight: 800;
}