<div class="login-container">

  <form (ngSubmit)="login(adharNumber.value, password.value)">
    <div class="form-field w-2/5 mx-auto">
      <label class="text-xl font-semibold" for="adharNumber">AdharCard Number</label>
      <input  type="text" id="adharNumber" name="adharNumber" required #adharNumber>
    </div>
    <div class="form-field w-2/5 mx-auto">
      <label class="text-xl font-semibold" for="password">Password</label>
      <input type="password" id="password" name="password" required #password>
    </div>
    <button style="background-color:#25312d;"   type="submit" class="submit-button px-6 py-4 font-semibold text-white text-xl"><a href="http://localhost:4200/home">Login</a></button>
  </form>
</div>
