<div class="container">
  <div class="form-container">
      <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="submitForm()" class="form">
          <!-- Personal Information -->
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" placeholder="Enter your name">
              <div *ngIf="formGroup.get('name') && formGroup.get('name')?.touched" class="error-message">Name is required</div>
          </div>

          <!-- State -->
          <div class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" formControlName="state" placeholder="Enter your state">
          </div>

          <!-- Pincode -->
          <div class="form-group">
              <label for="pincode">Pincode</label>
              <input type="text" id="pincode" formControlName="pincode" placeholder="Enter your pincode">
          </div>

          <!-- Aadhar Number -->
          <div class="form-group">
              <label for="adharNumber">Aadhar Number</label>
              <input type="text" id="adharNumber" formControlName="adharNumber" placeholder="Enter your adhar number">
              <div *ngIf="formGroup.get('adharNumber') && formGroup.get('adharNumber')?.touched" class="error-message">Invalid Aadhar Number</div>
          </div>

          <!-- Phone Number -->
          <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="text" id="phone" formControlName="phone" placeholder="Enter your phone number">
              <div *ngIf="formGroup.get('phone') && formGroup.get('phone')?.touched" class="error-message">Invalid Phone Number</div>
          </div>

          <!-- Password -->
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" placeholder="Set new password">
              <div *ngIf="formGroup.get('password') && formGroup.get('password')?.touched" class="error-message">Password is required</div>
          </div>

          <!-- Submit Button -->
          <button class="submit-button" type="submit" routerLink="/login" >Submit</button>
          
      </form>
  </div>
</div>